.productRow .productSlider .item {
  padding: 10px 8px !important;
}
.productRow .banner3 {
  height: 450px;
  border-radius: 3px;
  object-fit: cover;
}

.productRow .banner3:hover {
  cursor: pointer;
}
.productRow .productSlider .slick-current .productThumb {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}
