@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css");

.homeSliderMain {
  border-radius: 15px;
  height: 450px;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}

.homeSlider {
  padding: 5px 0px;
}

.homeSliderMain .slick-dots {
  position: absolute;
  bottom: 30px;
}

.homeSliderMain .slick-dots li button:before {
  font-size: 10px !important;
}
.slick-active button::before {
  color: #ca8a04 !important;
}

.slick-arrow {
  position: absolute;
  top: 47%;
  z-index: 1000 !important;
}

.slick-arrow.slick-next {
  right: 3% !important;
}
.slick-arrow.slick-prev {
  left: 3% !important;
}

.slick-prev:before {
  font-size: 30px;
  font-weight: 900;
}

.slick-next:before {
  font-size: 30px;
  font-weight: 900;
}

.slick-arrow:hover::before {
  color: #ca8a04;
}

.homeSliderMain .sliderItem {
  position: relative;
}

.homeSliderMain .sliderItem .sliderInfo {
  position: absolute;
  top: 15%;
  /* left: 7%; */
  z-index: 100;
}
.homeSliderMain .sliderItem .sliderInfo h2 {
  font-size: 60px;
  font-weight: bold;

  font-family: "Quicksand", sans-serif;
}
.homeSliderMain .sliderItem .sliderInfo p {
  font-size: 25px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Quicksand", sans-serif;
}

.homeSliderMain .sliderItem .slider1 {
  left: 7%;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px rgba(207, 206, 206, 0.5);
}

.homeSliderMain .sliderItem .slider2 {
  right: 6%;
  color: rgba(0, 0, 0, 0.8);
}
.homeSliderMain .sliderItem .slider3 {
  left: 7%;
  color: rgba(255, 253, 253, 1) !important;
  text-shadow: 2px 2px #000;
}

.homeSliderMain .sliderTextField {
  width: 400px;
  height: 50px;
  margin-top: 50px;
}

.homeSliderMain .sliderTextField input {
  width: 100%;
  height: 100%;
  background: #fff;
  border: 0px;
  outline: none;
  border-radius: 30px;
  padding-left: 20px;
  font-size: 16px;
}
.homeSliderMain .sliderTextField {
  position: relative;
}
.homeSliderMain .sliderTextField button {
  padding: 10px 30px !important;
  height: 100%;
  border-radius: 30px !important;
  color: #fff;
  position: absolute;
  top: 0px;
  right: 0px;
}
.slider3 button {
  padding: 10px 30px !important;
  margin-top: 50px;
  width: 200px;
  border-radius: 30px !important;
  color: #fff;
}
