* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Quicksand", cursive;
}
.container-fluid {
  padding: 0px 35px;
}

.cursor {
  cursor: pointer;
}

.bg-theme,
.bg-success {
  background: #ca8a04 !important;
}
.text-theme {
  color: #ca8a04;
}
.title {
  font-size: 30px;
  font-weight: 700;
  font-family: "Quicksand", cursive;
  margin-bottom: 30px;
  margin-top: 30px;
}

.transition {
  transition: all 0.3s ease-in-out;
}
